.banner-1
  position relative
  user-select none
  width 240px
  height 400px
  overflow hidden
  background deeppink
  .container
    position absolute
    width 1100px
    img
      display inline-block

.banner-2
  position relative
  user-select none
  width 350px
  height 350px
  overflow hidden
  background white
  img
    position absolute
    right -100%